<!DOCTYPE html>
<html>
<head>
    <title>Neumond Framework - About</title>
</head>
<body>
    <h1>Neumond Framework</h1>
    <p>You are using Neumond Framework version {{ version }}</p>
    <p>Have fun!</p>
</body>
</html>
