<!DOCTYPE html>
<html>
<head>
    <title>Neumond Framework - About</title>
</head>
<body>
    <h1>Neumond Framework</h1>
    <p>You are using Neumond Framework!</p>
    <p>Neumond Framework is an experimental PHP framework for web development</p>
    <p>Have fun!</p>
    <hr>
    <p>Neumond Framework instance details are <a href="/about">here</a></p>
</body>
</html>
